{% extends "FOSUserBundle::layout.html.twig" %}



{% block content %}
<div class="main">
    <h2>Modification du compte</h2>
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
</div>
{% endblock content %}