{% extends "FOSUserBundle::layout.html.twig" %}



{% block content %}
    <div class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Modification du compte</h2>
            </div>
            <div class="panel-body">
                {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock content %}