/* 
    Document   : front
    Created on : 23 mars 2014, 15:04:46
    Author     : mathurin
    Description:
        Purpose of the stylesheet follows.
*/
.main{
    padding-top: 100px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 7px 8px;
    pointer-events: none;
}

.navbar-fixed-top {
    padding: 0 !important;
    margin: 0 !important;
}


.post{
     padding: 10px;
}

.post_text{
     padding-top: 25px;
}

.post_user_avatar{
    width: 120px;
    height: 120px;
}

.post_user_description{
    font-weight: bold;
}


.event_left
{
    margin-left: 20px;
}

.event_map_show
{
    height: 280px;
}

.event_map_choose{
    height:250px;
    margin-right: 15px; 
    float: right;
}

.event_create_submit{
    margin-top: 20px;
}

.event_panel_button{
    margin-bottom: 20px;
}