{% if not pastEvent %}
    <div class="col-md-4 event_passed_link text-left agenda_buttons_go">
        <div class="row">
            {% if not eventObj.accepted %}
                <form id="{{eventObj.event.id}}" class="col-md-3" method="post" action="{{ path('compte_accept_event',{ 'idEvent': eventObj.event.id }) }}">
                    <button type="submit" class="btn btn-default btn-danger active">J'y vais!</button>
                </form>
            {% endif %}
            {% if not eventObj.refused %}
                <form id="{{eventObj.event.id}}" class="col-md-3" method="post" action="{{ path('compte_refuse_event',{ 'idEvent': eventObj.event.id }) }}">
                    <button type="submit" class="btn btn-default">J'y vais pas...</button>
                </form>
            {% endif %}  
        </div>
    </div>
{% endif %}