
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1>{%if pastEvent %}Evénements passés{% else %}Événements à venir...{% endif %}</h1> 
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-right">
        <div class="row ">        
            {%if pastEvent %}
                <div class="event_passed_link"> 
                    <div class="btn-group btn-toggle">
                        <a class="btn btn-lg btn-danger">Passé</a>
                        <a class="btn btn-lg btn-default active" href="{{ path('compte_agenda') }}" >A venir ...</a>
                    </div>
                </div>
            {% else %}
                <div class="event_passed_link"> 
                    <div class="btn-group btn-toggle">
                        <a class="btn btn-lg btn-default active"  href="{{ path('compte_events_past') }}" >Passé</a>
                        <a class="btn btn-lg btn-danger " >A venir...</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>