{% if not pastEvent %}
    <div class="col-md-8 event_passed_link text-left agenda_buttons_go">
        <ul class="list-inline">
            {% if not eventObj.accepted %}
                <li>
                    <form id="{{eventObj.event.id}}" class="col-md-3" method="post" action="{{ path('compte_accept_event',{ 'idEvent': eventObj.event.id }) }}">
                        <button type="submit" class="btn btn-default btn-danger active">J'y vais!</button>
                    </form>
                </li>
            {% endif %}
            {% if not eventObj.refused %}
                <li>
                    <form id="{{eventObj.event.id}}" class="col-md-3" method="post" action="{{ path('compte_refuse_event',{ 'idEvent': eventObj.event.id }) }}">
                        <button type="submit" class="btn btn-default">J'y vais pas...</button>
                    </form>
                </li>
            {% endif %}  
        </ul>
    </div>
{% endif %}