{% extends "::base.html.twig" %}

{% block title %}Mon Agenda{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}
{% block content %}
    <div class="main">
        <div class="row">
            {% include "OmaracujaUserBundle:Agenda:agenda_past_and_present_buttons.html.twig" with {'pastEvent' : pastEvent} %}
        </div>
        <br/>
        <br/>
        <br/>
        <div class="col-md-8 col-md-offset-2">  
            {% for month,eventsByMonth in events %}
                {% set stringMonth = events[month]|first.event.startAt |localizeddate('none', 'none', 'fr_FR', null, "MMMM Y") %}
                <h2>{{ stringMonth|slice(0, 1)|upper~stringMonth|slice(1,stringMonth|length)  }}</h2>
                <div class="panel-group" id="accordion">
                    {% for eventObj in eventsByMonth %}
                        <div class="row button_go_not_go">
                            {% include "OmaracujaUserBundle:Agenda:agenda_buttons_go_not_go.html.twig" with {'eventObj': eventObj, 'pastEvent' : pastEvent} %}                             
                        </div>
                        <div class="panel panel-default event-panel">
                            <div class="panel-head-event">
                                {% include "OmaracujaFrontBundle:Front:eventHeader.html.twig" with {'event': eventObj.event, 'pastEvent' : pastEvent, 'privilegeMode' : true , 'eventAccepted' : eventObj.accepted} %}                            
                            </div>
                            {% include "OmaracujaFrontBundle:Front:eventBody.html.twig" with {'event': eventObj.event, 'pastEvent' : pastEvent} %}                            
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock content %}