{% extends "::base.html.twig" %}

{% block title %}O Maracujá - Albums photos{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">
        <br/>
        <br/>
        <br/>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">  
                <h2>Administration - Albums photos </h2>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-9 col-md-offset-1">  
                {% include 'OmaracujaFrontBundle:Front:album_show.html.twig' with {'eventsByMonthWithAlbum': eventsByMonthWithAlbum, 'admin': admin } %}
            </div>
        </div>
    </div>
</div>
</div>  
{% endblock %}