{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation{% endblock %}


{% block content %}
    <div class="main">   
        {{ form(newEventForm) }}
        <h1>Liste des 10 derniers Evènements</h1>
        <table class="table table-responsive">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>


{% endblock %}