{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation Evénements{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">
        <h1>Administration - {%if pastEvent %}Les événements passés{% else %}Les événements{% endif %}</h1> 
        <br/>
        <div class="form-group event_panel_button">
            <div class="row">
                {% include "OmaracujaAdminBundle:Admin:event_actions_buttons.html.twig" with {'pastEvent' : pastEvent} %}  
            </div>
        </div>
        <br/>
        <br/>
        <div class="col-md-8 col-md-offset-2">  
            {% for month,eventsByMonth in nextEvents %}
                <h2>{{ month }}</h2>
                <div class="panel-group" id="accordion">
                    {% for eventObj in eventsByMonth %}
                        <div class="row">
                            {% include "OmaracujaAdminBundle:Admin:event_modify_and_album_buttons.html.twig" with {'event' : eventObj.event } %}
                        </div>
                        <div class="panel panel-default event-panel">
                            <div class="panel-head-event">
                                {% include "OmaracujaFrontBundle:Front:eventHeader.html.twig" with {'event': eventObj.event, 'pastEvent' : pastEvent, 'privilegeMode' : true , 'eventAccepted' : eventObj.accepted, 'admin' : 1 } %}                            
                            </div>
                            {% include "OmaracujaFrontBundle:Front:eventBody.html.twig" with {'event': eventObj.event, 'privilege': 1, 'admin' : 1 , 'eventPictureForm': eventPictureForms } %}

                        </div>
                    {% endfor %}
                </div>            
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}