        <!-- Cropping modal -->
    <div class="modal fade" id="eventPicture-modal" tabindex="-1" role="dialog" aria-labelledby="eventPicture-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="eventPicture-content">
            <form class="eventPicture-form" action="{{ path("avatar_upload") }}" method="post" enctype="multipart/form-data" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="eventPicture-modal-label">Ajouter une image</h4>
            </div>
            <div class="modal-body">
              <div class="eventPicture-body">

                <!-- Upload image and data -->
                <div class="eventPicture-upload">
                    {{ form_widget(newEventForm.file, {'attr': {'class': 'eventPicture-input'} }) }}
                    {{ form_widget(newEventForm.src, {'attr': {'class': 'eventPicture-src'} }) }}                    
                    {{ form_widget(newEventForm.data, {'attr': {'class': 'eventPicture-data'} }) }}
                  <label for="eventPictureInput">Ajouter une image</label>
                </div>

                <!-- Crop and preview -->
                <div class="row">
                  <div class="col-md-10">
                    <div class="eventPicture-wrapper"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" type="button" data-dismiss="modal">Fermer</button>
              <button class="btn btn-primary eventPicture-save" type="submit">Sauvegarder</button>
            </div>
          </form>
        </div>
      </div>
    </div><!-- /.modal -->

    <!-- Loading state -->
    <div class="loading" tabindex="-1" role="img" aria-label="Loading"></div>
   