{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation NewsLetter{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">  

        <h3>Créer une Newsletter</h3>    
        <br/>
        {{ form_start(newsLetterForm,{'attr': {'novalidate': 'novalidate'} }) }} 
        <div class="col-md-12">  

            <div class="form-group">
                <div class="error_list">{{ form_errors(newsLetterForm.mailBody) }}</div>
                {{ form_widget(newsLetterForm.mailBody) }}
            </div>

        </div>



        <div class="row _create_submit">  
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-default btn-success text-right" value="Envoyer" />
                </div>
            </div>
        </div>
        {{form_end(newsLetterForm)}}

    </div>
{% endblock %}