{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation Evénements{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">
        <h1>Administration - Photos </h1>
        <br/>
        <div class="col-md-12">
            <div class="row" id="crop-picture">

                <div class="picture-default-view">
                    <img src="{{newPicture.getCurrentPicturePath}}" style="display: none;">
                </div> 
                {% include 'OmaracujaAdminBundle:Admin:picture_buttons_navigation.html.twig' with {'next_month': next_month, 'next_month_label' : next_month_label, 'last_month': last_month , 'last_month_label' : last_month_label } %}

                {% include 'OmaracujaAdminBundle:Admin:picture_cropping_modal.html.twig' with {'pictureForm': form } %}
                <br/>

                {% include 'OmaracujaFrontBundle:Front:picture_show.html.twig' with {'picturesCollection': picturesByMonth } %}

            </div>
        </div>
        {% include 'OmaracujaFrontBundle:Front:picture_view_modal.html.twig' with {'picturesCollection': picturesByMonth } %}
    </div>  
{% endblock %}