{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation{% endblock %}


{% block content %}
    <div class="main">   

        <h1>Page de Présentation</h1>
        <table class="table table-responsive">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>


{% endblock %}