{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation présentation{% endblock %}


{% block content %}
    <div class="main">   
        <h1>Ajout d'une page de présentation</h1>        
          {{form(form)}} 
    </div>

{% endblock %}