{% extends "::base.html.twig" %}

{% block title %}O Maracujá - Administation Vidéos{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}


{% block content %}
    <br/>
    <br/>
    <br/>

    <div class="main"> 
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Liste des Vidéos</h1>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href=" {{path('admin_panel_videos_add')}} " class="picture-link btn btn-default btn-danger text-right">Ajouter une vidéo</a>
                    </div>
                </div>
            </div>
        </div>
        {% include "OmaracujaFrontBundle:Front:videos_list.html.twig" with {'videos' : videos, 'admin': 1} %}       
        <br/>
        

    </div>


{% endblock %}
