{% extends 'base.html.twig' %}

{% block body %}

<header class="omaracujahead text-center text-white d-flex">
</header>
<section class="bg-primary" id="quisommenous">

      <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading text-white">Qui sommes nous!</h1>
      </div>
    <header class="omaracujaquisommesnous text-center text-white">
    </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
          <br/>
        <p class="mb-4" style="text-align: justify;">O Maracujá ne sait se présenter qu'en percussions et se définir qu'en contradictions.
            Un poil samba-reggae, mais pas vraiment Brésilienne, assez dissipée, mais sérieusement engagée, absolument multiple, mais dans l'unité, indéfiniment en chantier, mais toujours prête à jouer, un peu folle, mais les pieds bien ancrés, à la limite du bon goût, mais sans jamais basculer...
            O Maracujá, finalement, ne sait qu'une seule chose : être elle-même.
</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary p-0" id="photos">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="omaracuja-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="omaracuja-box-caption">
                <div class="omaracuja-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="omaracuja-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="omaracuja-box-caption">
                <div class="omaracuja-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">

              <div class="omaracuja-box container-video">
                  <iframe  class="video" src="https://www.youtube.com/embed/KWlQ2VRdzkw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>

          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="omaracuja-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="omaracuja-box-caption">
                <div class="omaracuja-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="omaracuja-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="omaracuja-box-caption">
                <div class="omaracuja-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="omaracuja-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="omaracuja-box-caption">
                <div class="omaracuja-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
  </div>
</section>


<section  class="bg-primary" id="dates">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-lg-10 mx-auto text-center">
        <ul class="list-unstyled ">
         {% for date in dates %}
         <li class="row">
             <div class="col-xs-6 col-lg-6 text-right">{{ date[0] }}</div>
             <div class="col-xs-6 col-lg-6 text-left">{{ date[1] }}</div>
         </li>
         {% if not loop.last %}<hr class="my-4"/>{% endif %}
         {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Contact</h2>
        <hr class="my-4">
        <p class="mb-5">Cher Omaracuja</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
            <form>
              <div class="row">
                  <div class="col-lg-10 col-centered">
                      <div class="form-group">
                          <input id="paiements_numeroRemise" name="paiements[numeroRemise]" placeholder="pseudo:" class="form-control" type="text">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-10 col-centered">
                      <div class="form-group">
                          <input id="paiements_numeroRemise" name="paiements[numeroRemise]" placeholder="mail:" class="form-control" type="text">
                      </div>

                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-10 col-centered">
                      <div class="form-group">
                          <textarea id="rendezvous_description" name="rendezvous[description]" placeholder="message:" rows="5" class="form-control"></textarea>
                      </div>
                  </div>
              </div>
            </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
