body {
  background-color: #fcfcfc;
}

.eventPicture-link {
  display: block;
  height: 600px;
  width: 400px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}

.eventPicture-view img {
  width: 100%;
}

.eventPicture-body {
  padding-right: 15px;
  padding-left: 15px;
}

.eventPicture-upload {
  overflow: hidden;
}

.eventPicture-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.eventPicture-upload input {
  display: block;
  margin-left: 110px;
}

.avater-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.eventPicture-wrapper {
  height: 583px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.eventPicture-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.eventPicture-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.eventPicture-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.eventPicture-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .eventPicture-preview {
    float: none;
  }
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../../Resources/Public/images/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}


.eventPicture-view-choice {
  display: block;
  height: 220px;
  width: 220px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}

.eventPicture-view-choice img {
  width: 100%;
}

.eventPicture-view-col {
    padding-top: 50px;
}

body {
  background-color: #fcfcfc;
}

.picture-link {
  display: block;
  height: 600px;
  width: 400px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}

.picture-view img {
  width: 100%;
}

.picture-body {
  padding-right: 15px;
  padding-left: 15px;
}

.picture-upload {
  overflow: hidden;
}

.picture-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.picture-upload input {
  display: block;
  margin-left: 110px;
}


.picture-wrapper {
  height: 583px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.picture-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.picture-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.picture-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.picture-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .picture-preview {
    float: none;
  }
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../../Resources/Public/images/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}


.picture-view-choice {
  display: block;
  height: 220px;
  width: 220px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}

.picture-view-choice img {
  width: 100%;
}

.picture-view-col {
    padding-top: 50px;
}
