/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 août 2014, 20:53:19
    Author     : mathurin
*/


form .form-group .error_list ul{
    list-style: none;
}

form .form-group .error_list li{
    color: darkred;
    font-weight: bold;
}

.user_edit, .user_show, .agenda-event_show {
    padding-top: 20px;
}

.profile_show_value{
    
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
}

.remember_me label{
    color: #999;
}

#hover-cap-4col .thumbnail {
    position:relative;
    overflow:hidden;    
}
.caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    color:#fff !important;
}

.agenda-avatar-view {
  display: block;
  height: 110px;
  width: 90px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
  float: left;
  margin: 5px;
  text-align: center;
}

.agenda-avatar-view img {
  width: 100%;
}

.agenda-avatar-view span {
  font-size: 10px;
  font-weight: bold;  
}

.agenda-avatar-not-in-event img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}


.agenda_description_panel{
    margin-top: 20px;
    margin-bottom: 20px;
}