/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 août 2014, 20:53:19
    Author     : mathurin
*/


form .form-group .error_list ul{
    list-style: none;
}

form .form-group .error_list li{
    color: darkred;
    font-weight: bold;
}