{% extends "FOSUserBundle::layout.html.twig" %}



{% block content %}
    <div class="main">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h2>Inscription à Omaracuja.com</h2>
                <br/>
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                <br/>
            </div>
        </div>
    </div>
{% endblock content %}