body, h1, h3, h5, .ant-menu, .home p {
  background-color: black;
  color: white;
}

.ant-checkbox-wrapper span {
  color: white;
}

.ant-menu-item, .ant-menu-item > a {
  color: white !important;
}

.ant-modal-body h3 {
  color: black;
  background-color: white;
}

h3 {
  font-weight: bold;
}

div > span, .ant-btn-danger span {
  color: black;
}
