{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Accueil{% endblock %}

{% block connexion %}
{% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
<div class="main">
</div>

{% endblock %}