{% extends "::base.html.twig" %}

{% block title %}O Maracujá - Albums{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">
        <h1>Photos</h1>
        <br/>
       <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <br/>

                {% include 'OmaracujaFrontBundle:Front:album_show.html.twig' with {'eventsByMonthWithAlbum': eventsByMonthWithAlbum } %}

            </div>
        </div>
    </div> 
    {% include "OmaracujaFrontBundle:Menu:menu.html.twig" %}

{% endblock %}