{% extends "::base.html.twig" %}
{% block title %}Omaracuja - Album{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">
        <h1>Photos <a href="{{ path('front_evennement',{ 'id': event.id }) }}"><small class="text-red-omaracuja">{{event.title}}</small></a></h1>
        <br/>
        <div class="col-md-10 col-md-offset-1">
            <div class="row">

                <br/>

                {% include 'OmaracujaFrontBundle:Front:picture_show.html.twig' with {'picturesCollection': album.pictures, 'event' : event ,'admin' : false} %}

            </div>
        </div>
                <br/>
                <br/>
        <div class="col-md-10 col-md-offset-1">
            <a href="{{ path('front_albums') }}" class="btn btn-success">Retour aux albums photo</a>
        </div>

        {% include 'OmaracujaFrontBundle:Front:picture_view_modal.html.twig' with {'picturesCollection': album.pictures } %}

    </div> 
    {% include "OmaracujaFrontBundle:Menu:menu.html.twig" %}
{% endblock %}