<div style="font-size: 13px;">
    <span class="titre-bootbox">
        <h2>L'entrée des artistes</h2>
    </span>
    <form action="/connexion_check" id="connexion_form" method="post" class="form-inline" role="form" style="text-align:center">
        <input type="hidden" name="_csrf_token" value="apUKHq1esTvwH7iif05538Vz8tV89z6XbscZsAqxW1w" />
        <div class="form-row">
            <div class="form-group">
                <label class="sr-only" for="username">Nom d&#039;utilisateur :</label>
                <div class="left-inner-addon ">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" id="username" placeholder="Pseudo" class="form-control input-sm" name="_username" value="" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Mot de passe :</label>
                <div class="left-inner-addon ">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input type="password" class="form-control input-sm" id="password" placeholder="Mot de Passe" name="_password" required="required"/>
                </div>
            </div>
            <div class="row">
                <div class="checkbox remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> 
                    <label>Se souvenir de moi</label>  
                </div>
            </div>	

            <!--<input type="submit" class="btn btn-default btn-sm" id="_submit" name="_submit" value="Connexion" />-->
        </div>
        <div class="row">
            <div class="text-right">     
                <input type="button" class="btn btn-default btn-sm subscribe" id="_inscription" name="_inscription" value="Inscription >" />     
            </div>
        </div>
        <!--<div class="text-danger row"><strong>Le nom d'utilisateur ou le mot de passe est incorrect.</strong></div>-->

    </form>
</div>