				<div style="font-size: 13px;">
					<span class="titre-bootbox"><h2>Contact</h2></span>
				
					
					<div class="col-md-12 text-center" style="float:none"> 
            <div class="row">
				<div class="col-md-3 text-left">
				</div>
                <div class="col-md-3 text-left">
                    <strong>Responsable : </strong>
                </div>
                <div class="col-md-3 text-left">
                    Julien Menez
                </div>
            </div>
            <div class="row">
				<div class="col-md-3 text-left">
				</div>			
                <div class="col-md-3 text-left">
                    <strong>Téléphone portable :  </strong>
                </div>
                <div class="col-md-3 text-left">
                    <a href="tel:06 87 85 82 99">06 87 85 82 99</a>
                </div>
            </div>
            <div class="row">
				<div class="col-md-3 text-left">
				</div>			
                <div class="col-md-3 text-left">
                    <strong>Email :  </strong>
                </div>
                <div class="col-md-3 text-left">
                    <a href="mailto:contact@omaracuja.com">contact@omaracuja.com</a>
                </div>
            </div>
            <div class="row">
				<div class="col-md-3 text-left">
				</div>			
                <div class="col-md-3 text-left">
                    <strong>Adresse Postale :  </strong>
                </div>
                <div class="col-md-6 text-left">
                    O Maracujá - 17 Boulevard Finot <br>93200 - Saint-Denis
                </div>
            </div>
            <br><br>
        </div>
				</div>