
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1>{%if pastEvent %}Le Passé...{% else %}Dates à Venir{% endif %}</h1> 
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-right">
        <div class="row event_passed_link">   
            {%if pastEvent %}
                <div class="btn-group btn-toggle">
                    <a class="btn btn-lg btn-danger">Passé</a>
                    <a class="btn btn-lg btn-default active" href="{{ path('front_evennement') }}" >A venir ...</a>
                </div>
            {% else %}
                <div class="btn-group btn-toggle">
                    <a class="btn btn-lg btn-default active"  href="{{ path('front_evennement_past') }}" >Passé</a>
                    <a class="btn btn-lg btn-danger" >A venir ...</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>   