{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Evénements{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">
        <div class="row">
            {% include "OmaracujaFrontBundle:Front:evennement_past_and_present_buttons.html.twig" with {'pastEvent' : pastEvent} %}       
        </div>
        <br/>
        <br/>
        <br/>
        <div class="col-md-12">  
            {% for month,eventByMonth in events %}
                <h2>{{ month }}</h2>
                <div class="panel-group" id="accordion">    
                    {% for event in eventByMonth %}
                        <div class="row">
                            <div class="col-md-4"><h3></h3></div>
                        </div>
                        <div class="panel panel-default event-panel">
                            <div class="panel-head-event">
                                {% include "OmaracujaFrontBundle:Front:eventHeader.html.twig" with {'event': event, 'pastEvent' : pastEvent} %}                            
                            </div>
                            {% include "OmaracujaFrontBundle:Front:eventBody.html.twig" with {'event': event, 'privilege': 0} %}                            
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}