				<div style="font-size: 13px;">
					<span class="titre-bootbox"><h2>Pour ne plus jamais nous rater...</h2></span>
					
					<div class="col-md-12" style="float:none">  
            <form name="omaracuja_frontbundle_newsletter_member" method="post" action="/newsletter"> 

            <div class="row">                  
               <div class="col-md-4"></div>
			   <div class="col-md-8">  
					<p>Abonnez-vous à la newsletter !</p>
				</div>
            </div>
			
            <div class="row">                  
                <div class="col-md-4">        
                                    <label for="omaracuja_frontbundle_newsletter_member_firstname" class="required">Prénom : </label>
                </div>
                <div class=" col-md-8">  
                    <div class="form-group">
                        <div class="error_list"></div>
                        <input type="text" id="omaracuja_frontbundle_newsletter_member_firstname" name="omaracuja_frontbundle_newsletter_member[firstname]" required="required" class="form-control" placeholder="Prénom">
                    </div>
                </div>
            </div>

            <div class="row">  
                <div class="col-md-4">        
                                    <label for="omaracuja_frontbundle_newsletter_member_name" class="required">Nom : </label>
                </div>
                <div class=" col-md-8">  
                    <div class="form-group">
                        <div class="error_list"></div>
                        <input type="text" id="omaracuja_frontbundle_newsletter_member_name" name="omaracuja_frontbundle_newsletter_member[name]" required="required" class="form-control" placeholder="Nom">
                    </div>
                </div>
            </div>

            <div class="row">  
                <div class="col-md-4">        
                                    <label for="omaracuja_frontbundle_newsletter_member_email" class="required">Email : </label>
                </div>
                <div class=" col-md-8">  
                    <div class="form-group">
                        <div class="error_list"></div>
                        <input type="email" id="omaracuja_frontbundle_newsletter_member_email" name="omaracuja_frontbundle_newsletter_member[email]" required="required" class="form-control" placeholder="monemail@mail.com">
                    </div>
                </div>
            </div>
            <!--<div class="row _create_submit">  
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" class="btn btn-default btn-success text-right" value="S'abonner">
                    </div>
                </div>
            </div>--
            <input type="hidden" id="omaracuja_frontbundle_newsletter_member__token" name="omaracuja_frontbundle_newsletter_member[_token]" value="uOjPVtOd0IdKBbXkAcAJbzHnCHS7yXzdi2zth9eCJkE"></form>

        </div>
				</div>