<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 text-right">
            <div class="btn-group">
                {% if not last_month is null %}
                    <a href="{{ path('front_pictures', { 'mois': last_month } ) }}" class="btn btn-default text-right"><span class="glyphicon glyphicon-circle-arrow-left">&nbsp;</span>&nbsp;{{last_month_label}}</a>    
                {% endif %}
                {% if not next_month is null %}
                    <a href="{{ path('front_pictures', { 'mois': next_month } ) }}" class="btn btn-default text-right">{{next_month_label}}&nbsp;<span class="glyphicon glyphicon-circle-arrow-right">&nbsp;</span></a>    
                {% endif %}
            </div>
        </div>
    </div>
</div>