{% extends "::base.html.twig" %}

{% block title %}O Maracujá{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}

    {% block video %}
        <div id="video-wrapper"></div>
    {% endblock %}

    <div class="energie"  data-url="{{ path('front_bulle_maracuja') }}" style="cursor: pointer;"></div>



    <div id="mainContainer" class="container">
        <div class="main">         
            <div class="row">
                <div class="col">&nbsp;</div>
            </div>
        </div>
    </div>

    {% include "OmaracujaFrontBundle:Menu:menu.html.twig" %}
 
{% endblock %}