{% extends "::base.html.twig" %}

{% block title %}O Maracujá{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}


    {% block video %}
        <div id="video-wrapper" data-numero-video="{{ numeroVideo }}"></div>
        <style>
            .fond {
                background:url("../data/videos/omaracuja_video_{{ numeroVideo }}.jpg") no-repeat center center; 
                background-size: cover;
                z-index:0;position:fixed;
                width:100%;height:100%;margin:0;
            }
        </style>
    {% endblock %}

      <div id="mainContainer" class="container">
        <div class="main">         
            <div class="row">
                <div class="col">&nbsp;</div>
            </div>
        </div>
    </div>

    {% include "OmaracujaFrontBundle:Menu:menu.html.twig" %}

{% endblock %}