   <div id="footer-galerie" style='opacity:0'>

<!--    <div class="modal-dialog-galerie">
        <div class="modal-content">-->
            <div id="galerie-close">✘</div> 
            <img src="{{ asset('bundles/omaracujafront/images/prev.png')}}" class="galerie_prev">
            <img src="{{ asset('bundles/omaracujafront/images/next.png')}}" class="galerie_next">  
            
            <div class="modal-galerie" id="mini-galerie"></div>          
<!--        </div>
    </div>-->

   </div>