{% extends "::base-construction.html.twig" %}

{% block title %}Omaracuja.com - En Construction{% endblock %}
{% block content %}
<a href="mailto:contact@omaracuja.com">
    <img id="bg" src="{{ asset('bundles/omaracujafront/images/omaracuja_construction.png') }}">
</a>
<a href="tel:0687858299">
</a>
{% endblock %}